<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Salesforce OAuth - Explained</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
        />
        <link href="css/index.css" rel="stylesheet" />

        <link rel="icon" type="image/icon" href="Cloud Red.ico" />

        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
            integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>

        <script type="text/javascript" src="js/index.js"></script>
    </head>

    <body onload="onload()">
        <!-- Navigation pane on top of page -->
        <%- include('index/nav') %>

        <main class="container">
            <!-- Title and description -->
            <%- include('index/intro') %>

            <!-- Test for Template -->
            <% data.forEach(authFlow => { %> 
                <%- include('templates/singleflow', {authFlow: authFlow}) %> 
            <% }); %>

            <!-- User Agent Flow -->
            <%- include('index/useragent') %>

            <!-- Web Server Flow -->
            <%- include('index/webserver') %>

            <!-- Refresh Token Flow -->
            <%- include('index/refresh') %>

            <!-- JWT Bearer Assertion Flow -->
            <%- include('index/jwtbearer') %>

            <!-- SAML Bearer Assertion Flow -->
            <%- include('index/samlbearer') %>

            <!-- SAML Assertion Flow -->
            <%- include('index/samlassertion') %>

            <!-- Device Flow -->
            <%- include('index/device') %>

            <!-- Username / Password Flow -->
            <%- include('index/usernamepassword') %>
        </main>
    </body>
</html>
