<div class="card-body">
    <h2><%= title %> (<%= protocol %>)</h2>
    <p><%= description %></p>
    <figure>
        <img
            class="card-img-bottom"
            src=<%= image %>
        />
        <figcaption><%= title %> diagram - created by Lawrence Newcombe</figcaption>
    </figure>
    <% if(user_input) { %>
        <%- include('userinput/' + user_input.template) %>
    <% } else { %>
        <a id="launchFlow" role="button" class="btn btn-primary btn-lg" href="/launch/<%= id %>">
            Launch Flow
        </a>
    <% } %>
</div>
